.CrossArea{
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  .square {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    // width: 294px;
    height: 220px;
    padding: 5px;
  }
  // .left {
  //   // float: left;
  //   // margin-right: 10px;
  //   .tag {
  //     position: relative;
  //     margin: 3px;
  //     font-size: 13px;
  //     border: 1px dashed #cccccc;
  //     border-radius: 4px;
  //     padding: 0 8px;
  //     line-height: 30px;
  //     color: #666666;
  //     background: rgba(255, 255, 255, 0.7);
  //   }
  // }
  // .center {
  //   // float: left;
  //   // margin-right: 10px;
  //   .tag {
  //     position: relative;
  //     margin: 3px;
  //     font-size: 13px;
  //     border: 1px dashed #cccccc;
  //     border-radius: 4px;
  //     padding: 0 8px;
  //     line-height: 30px;
  //     color: #666666;
  //     background: rgba(255, 255, 255, 0.7);
  //   }
  // }
  // .right {
  //   // float: left;
  //   .tag {
  //     position: relative;
  //     margin: 3px;
  //     font-size: 13px;
  //     // border: 1px dashed #9cc6f3;
  //     border: 1px dashed #cccccc;
  //     border-radius: 4px;
  //     padding: 0 8px;
  //     line-height: 30px;
  //     color: #666666;
  //     background: rgba(255, 255, 255, 0.7);
  //   }
  //   .delete {
  //     position: absolute;
  //     top: -1px;
  //     right: -1px;
  //     width: 16px;
  //     height: 16px;
  //     cursor: pointer;
  //     user-drag: none; 
  //     user-select: none;
  //     -moz-user-select: none;
  //     -webkit-user-drag: none;
  //     -webkit-user-select: none;
  //     -ms-user-select: none;
  //   }
  // }
  .row{
    width: 60%;
    margin: auto;
  }
  .tag {
    position: relative;
    margin: 3px;
    font-size: 13px;
    // border: 1px dashed #9cc6f3;
    border: 1px dashed #cccccc;
    border-radius: 4px;
    padding: 0 8px;
    line-height: 30px;
    color: #666666;
    background: rgba(255, 255, 255, 0.7);
  }
  .ant-card-body{
    padding: 3px;
  }
  .ant-card-meta-avatar{
    padding-top: 10px;
  }
  .all{
    line-height: 32px;
    .left{
      font-weight: bold;
      float: left;
      font-size: 16px;
      color: #ffffff;
    }
    .right{
      font-size: 25px;
      font-weight: bold;
      float: right;
      color: #ffffff;
    }
  }
  
  .DraggableTags{
    height: 76% !important;
    margin-top: 14%;
    overflow-y: auto;
    .DraggableTags-tag{
      width: 48%;
      margin-right: 2%;
      .DraggableTags-tag-drag{
        .ant-card-bordered{
          background-color:rgba(255,255,255,0.4);
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
  .DraggableTags::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    }
    .DraggableTags::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.4);
    background   : rgba(0, 0, 0, 0.5);
    }
    .DraggableTags::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background   : #ededed;
    }
  .ant-card-meta-detail > div:not(:last-child){
    margin-bottom: 0 !important;
    font-size: 13px;
    font-weight: bold;
  }
  
  .oneTags{
    background-color: #80C0D8;
  }
  .twoTags{
    background-color: #8AD6DF;
  }
  .threeTags{
    background-color: #1CBCAC;
  }
  .fourTags{
    background-color: #5FC0F2;
  }
  .fiveTags{
    background-color: #9FD1CC;
  }
  .sixTags{
    background-color: #8AD6DF;
  }
  .sevenTags{
    background-color: #598AFC;
  }
  .eightTags{
    background-color: #5FC0F2;
  }
  .nineTags{
    background-color: #80C0D8;
  }

  // 表格css
  .tableWidth{
    width: 80%;
    margin: auto;
  }
}